
@import 'material-icons/iconfont/material-icons.css';
@import 'material-symbols-outlined/material-symbols.css';

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Regular.ttf') format('truetype');
}

:root {
  /*--color-dark-grey: #666; */
  /*--color-dark-grey2: #222; */
  /*--color-grey3: #444;*/
  /*--color-light-grey: rgb(233 239 240); !* #f4f5f7; *!*/
  /*--color-light-grey2: rgb(233 239 240); !* #ededed; *!*/
  --btn-color-text: white;
  --box-shadow1: #091e424f;
  --box-shadow2: #091e4240;
  --error: #fa7030;
  --warn: #edc548;
  --info: #73ffa2;

  --md-sys-color-primary: rgb(0 104 116);
  --md-sys-color-surface-tint: rgb(0 104 116);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(158 239 253);
  --md-sys-color-on-primary-container: rgb(0 31 36);
  --md-sys-color-secondary: rgb(74 98 103);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(205 231 236);
  --md-sys-color-on-secondary-container: rgb(5 31 35);
  --md-sys-color-tertiary: rgb(82 94 125);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(218 226 255);
  --md-sys-color-on-tertiary-container: rgb(14 27 55);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(245 250 251);
  --md-sys-color-on-background: rgb(23 29 30);
  --md-sys-color-surface: rgb(245 250 251);
  --md-sys-color-on-surface: rgb(23 29 30);
  --md-sys-color-surface-variant: rgb(219 228 230);
  --md-sys-color-on-surface-variant: rgb(63 72 74);
  --md-sys-color-outline: rgb(111 121 122);
  --md-sys-color-outline-variant: rgb(191 200 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 242 243);
  --md-sys-color-inverse-primary: rgb(130 211 224);
  --md-sys-color-primary-fixed: rgb(158 239 253);
  --md-sys-color-on-primary-fixed: rgb(0 31 36);
  --md-sys-color-primary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 87);
  --md-sys-color-secondary-fixed: rgb(205 231 236);
  --md-sys-color-on-secondary-fixed: rgb(5 31 35);
  --md-sys-color-secondary-fixed-dim: rgb(177 203 208);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 75 79);
  --md-sys-color-tertiary-fixed: rgb(218 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(14 27 55);
  --md-sys-color-tertiary-fixed-dim: rgb(186 198 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(59 70 100);
  --md-sys-color-surface-dim: rgb(213 219 220);
  --md-sys-color-surface-bright: rgb(245 250 251);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 246);
  --md-sys-color-surface-container: rgb(233 239 240);
  --md-sys-color-surface-container-high: rgb(227 233 234);
  --md-sys-color-surface-container-highest: rgb(222 227 229);

  --md-sys-shape-corner-small: 4px;
  --md-sys-shape-corner-medium: 6px;
  --md-sys-shape-corner-large: 8px;
}

* {
  font-family: Roboto;
  font-size: 1em;
  box-sizing: border-box;
}

a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
}

body {
  background-color: white;
  color: var(--md-sys-color-primary);
  height: 98%;
  width: 90%;
  margin-left: 25px;
}

button {
  vertical-align: middle;
  font-size: 1em;
  padding: 5px;
}

h1 {
  margin-top: 20px;
}

h2 {
  font-size: 0.8em
}

li {
  list-style: none;
}

tr {
  border: 1px solid black;
}

@keyframes hideDiv {
  to {
    visibility: hidden;
    opacity: 0;
  }
}



.WEISS {
  background-color: ghostwhite;
}

.BRAUN {
  background-color: #723f21;
  color: white;
}

.GELB {
  background-color: gold;
}

.ORANGE {
  background-color: #fa7030;
}

.GRUEN {
  background-color: forestgreen;
  color: white;
}

.BLAU {
  background-color: rgb(54, 111, 216);
  color: white;
}

.SCHWARZ {
  background-color: black;
  color: white;
}




.actions a span {
  margin: 10px;
  /* font-size: 36px; */
}

.allewertungen {
  margin-top: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}

.bewerterinfo {
  justify-content: left;
}

.bodyheader {
  margin-top: 20px;
}

.box {
  width: 50%;
}

.breakbefore {
  break-before: page; /* Mögliche Werte: auto, always, avoid, left, right, page, column, avoid-page, etc. */
}

.buttonlink {
  background-color: #e9e9ed;
  padding: 10px 10px 10px 0px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: #8f8f9d;
}

.buttonlink span {
  font-size: 24px;
}

.centered {
  vertical-align: middle;
}

.centertext {
  text-align: center;
}

.centered-horizontal {
  justify-content: center;
  display: flex;
}

.clickbar  {
  cursor: pointer;
}

.columnVerein{
  width: 160px;
}

.columnVS{
  width: 50px;
  text-align: center;
}

.columnName {
  width: 180px !important;
}

.cvs_upload {
  margin: 10px;
  border-style: solid;
  border-width: 1px;
}

.element {
  margin: 10px 40px 10px 40px;
}

.emptyTableCell {
  background-color: white;
  border-style: dotted;
  width: 50px;
  height: 30px;
}

.ergebnis {
  display: block;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  column-gap: 5%;
}

.ergebnis_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  column-gap: 5%;
}

.ergebnis_eintrag {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.errormsg {
  background-color: var(--error);
  display: grid;
  align-items: center;
  text-align: center;
  color: white;
  height: 2em;
  animation: hideDiv 0.5s forwards 5s;
}

.filter_dropdown {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.filter_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}


.filter_dropdown:hover .filter_dropdown-content {
  display: block;
}

.filter_dropdown-content a {
  display: block;
  padding: 25px 10px;
}

.filter_dropdown-content a:hover {
  background-color: #f1f1f1
}

.flex_warp {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border-bottom: 1px solid #000;
  page-break-inside: avoid;
}

.full-width {
  width: 100%;
}

.generalcontent {
  /*background-color: var(--color-light-grey);*/
  background-color: var(--md-sys-color-background);
  margin: 2px;
  padding: 8px;
  /*border-radius: 5px;*/
  border-radius: var(--md-sys-shape-corner-medium);
}

.generalcontent form {
  display: flex;
  flex-direction: column;
}

.gewichtsklasse-meta {
  font-size: 0.8em;
}

.gewichtsklasse-teilnehmer-meta {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.gewichtsklasse-teilnehmer-meta span {
  font-size: 0.8em;
}

.gewichtsklassen {
  display: flex;
  overflow: auto;
}

.gewichtsklassen .teilnehmerliste {
  width: 150px;
}

.gewicht {
  font-size: 1.2em !important;
  font-weight: bold;
}

.grid {
  display: grid;
}

.groupsrow {
  outline: black;
  margin-bottom: 20px;
  outline-style: auto;
  break-inside: avoid;
  break-after: avoid-page; /* Mögliche Werte: auto, always, avoid, left, right, page, column, avoid-page, etc. */
  /* break-after: auto;  */
}

.gruppentitel_2 {
  font-size: medium;
}

.half-width {
  width: 46%;
}

.hidden {
  display: none;
}

.hochkannt {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  display: inline-block;
  position: relative;
  top: 430px;
}

.infomsg {
  background-color: var(--info);
  display: grid;
  align-items: center;
  text-align: center;
  height: 2em;
  animation: hideDiv 0.2s forwards 5s;
}

.justifycontent {
  justify-content: space-between;
}

.leer {
  background-color: var(--error) !important;
}

.leer_zahl {
  background-color: var(--warn) !important;
}

.links {
  justify-content: flex-start;
}

.listeneintrag {
  background-color: white;
  box-shadow: 0 0 1px 0 var(--box-shadow1),0 2px 4px -1px var(--box-shadow2);
  margin: 2px;
  padding: 8px;
  border-radius: var(--md-sys-shape-corner-small);
  display: flex;
  font-size: 0.8em;
  min-width: 200px;
}

.listeneintrag-header {
  display: flex;
  margin-top: 20px;
  page-break-before: auto;
}

.listeneintrag-titel {
  font-weight: bold;
  font-size: 1.2em;
  width: 300px !important;
}

md-slider {
  width: 100%;
}

.menu-icon {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {

}

.nav-links a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.navbar ul li {
  padding: 4px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

.nav_btn {

}

.nav_btn-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
}

.navbar_fixed li {
  width: 350px;
}

.pagetitle {
  padding: 1em;
  font-size: 2em;
  background-color: var(--md-sys-color-background);
  display: flex;
  align-items: flex-end;
  gap: 100px;
}

.pagetitle img {
  height: 120px;
}

.pagefooter {
  background-color: var(--md-sys-color-background);
  margin-top: 20px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.pagefooter div {
  margin-left: 100px;
}

.pagefooter div a span {
  font-size: 14px;
  margin-right: 15px;
}

.radio-label {
  display: flex;
  align-items: center;
}

.rechts {
  justify-content: flex-end;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.row-centered {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.row label {
  margin-right: 20px;
}

.row_small {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.row_small label {
  margin-right: 2px;
}

.sameline {
  display: flex;
}

.seitenumbruch {
  page-break-before: always;
}

.settingsrow {
  padding-top: 10px;
  padding-bottom: 20px;
  flex-direction: column;
  display: flex;
}

.slider-container {
  margin-bottom: 20px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.table {
  display: table;
  width: 100%; /* Passen Sie die Breite nach Bedarf an */
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.table .wettkaempfer_name {
  font-weight: bold;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 8px; /* Abstand innerhalb der Zellen */
  text-align: left; /* Textausrichtung */
}

#timer-display {
  font-size: 3rem;
  margin-bottom: 20px;
}

#timer-display.negative {
  color: red;
}

.titel {
  font-weight: bold;
}

.title_with_icons {
  margin-left: 10px;
}

.printing {
  font-size: 12px;
}

.vorhanden {
  background-color: #73ffa2;
}

.vs div{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  flex-basis: 15%;
}

.vs div.center {
  width: 40%;
}

.warnung  {
  background-color: var(--error);
}

.wd100 {
  width: 100px;
}

.wd300 {
  width: 300px;
}

.wettkaempfer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.wettkaempfer > label {
  width: 180px;
  flex-shrink: 0;
}

.wettkaempfer.name {
  font-weight: bold;
  flex-wrap: wrap;
}

.wettkaempferliste-wettkaempfer > div {
  width: 200px;
  display: flex;
  align-items: flex-end;
}

.wettkampfgruppe {
  margin-bottom: 2em;
  break-before: page;
}




#createTurnierDialog {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  background-color: white;
  z-index: 1000;
}

#dialogOverlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}



/* responsive design */
/* Druckmodus */
@media print {
  body {
    font-size: 12pt;
  }

  .no-print {
    display: none;
  }

}


/* responsive design */
/* Mobile screen */
@media screen and (max-width: 768px) {

  body {
    font-size: 15px;
    width: 100%;
    margin-left: 0;
    height: 100%;
  }


  .actions {
    display: none;
  }

  .allewertungen {
    font-size: 10px;
  }

  .btn {
    font-size: 30px;
    margin-left: 5px;
  }

  .btn_text {
    display: none;
  }

  #btn_alle_turniere {
    display: none;
  }

  #theming-anchor {
    /*display: block;*/
    /*content: "☰";*/
  }

  .center-btn {
    left: 50%;
    transform: translateX(-50%);
  }

  .ergebnis_eintrag {
    border-width: 0;
  }

  .listeneintrag {
    box-shadow: unset;
    /*border: 3px solid var(--color-dark-grey2);*/
    border-radius: var(--md-sys-shape-corner-small);
    display: block;
    margin-bottom: 50px;
    font-size: 20px;
  }

  .left-btn,
  .center-btn,
  .right-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  .left-btn {
    left: 0;
    justify-content: flex-start;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 80%;
    padding-left: 20px;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
    font-size: 50px;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .nav-links-sub {
    display: none;
  }

  .nav-links.show {
    display: flex;
    font-size: 20px;
  }

  .navbar ul li {
    padding: 14px;
  }

  .nav_btn {
    background-color: var(--md-sys-color-background);
    font-size: 30px;
    padding: 10px;
    margin: 10px;
  }

  .nav_btn-container > .nav_btn,
  .nav_btn-container > .special_btn {
    position: relative; /* Reset positioning inside the individual button wrappers */
  }

  .matten_btn {
    width: 50%;
    font-size: 30px;
  }

  .pagefooter {
    font-size: 10px;
    padding: 0 10px 0 0;
  }

  .pagetitle {
    padding: 0 10px 0 0;
    margin-left: 80px;
    position: absolute;
    background: white;
  }

  .pagetitle img {
    display: none;
  }

  .right-btn {
    right: 0;
    justify-content: flex-end;
  }

  .row {
    justify-content: space-between;
    font-size: 25px;
  }

  .row label {
    margin-right: auto;
    font-size: 16px;
  }

  .slider-container {
    margin-bottom: 0px;
  }

  .submit_btn {
    position: absolute;
    top: 40px;
    left: 0px;
    border: none;
    font-size: 30px;
    width: 100%;
    padding: 10px;
    background-color: var(--md-sys-color-background);
  }

  .vs div.center {
    width: 100%;
  }

  .wertung_btn {
    width: 35px;
  }

  .wettkaempfer {
    font-size: 20px;
    margin-top: 10px;
    display: block;
  }

  .when_mobile_hide {
    display: none;
  }

  .when_mobile_toggle {
    display: none;
  }
}
