<!DOCTYPE html>
<html lang="de">
<head>
    {{> header}}
</head>
<body>
{{> title }}
{{> nav }}

<div>
    <div class="bodyheader">
        <h1>Es ist ein Fehler aufgetreten!</h1>
    </div>
</div>

<div class="error centertext">
    <h3>Bitte rufen Sie eine andere Seite auf oder versuchen Sie es mit einem anderen Benutzer.</h3>

    <div class="buttonlink">
        <a href="/">Zurück zur Startseite</a>
    </div>
</div>

<div>
    <p>Fehler-Nachricht:</p>
    <p>{{fehlerart}}</p>
</div>

{{> footer}}
<script type="text/javascript">

</script>
</body>

</html>