<div class="pagefooter no-print">
  <div><a href="https://judoclub-grosskrotzenburg.de/"><span class="material-icons">sports_martial_arts</span>1. JCG</a></div>
  <div><a href="https://sinnix.de/"><span class="material-icons">polyline</span>Made by sinnix</a></div>
</div>

<script type="text/javascript">
    const toggleMenu = () => {
        var navLinks = document.querySelectorAll('.nav-links');
        navLinks.forEach(function(navLink) {
            navLink.classList.toggle('show');
        });
    }
</script>