<!DOCTYPE html>
<html lang="de">
<header>
  {{> header}}
</header>
<body>
{{> title }}
{{> nav }}

<div>
  <div class="bodyheader">
    <h1>Impressum</h1>
  </div>

  <div class="generalcontent">
    <b>Anbieter gemäß §5 TMG</b><br>
      Florian Miess<br>
      Prischoßstraße 48<br>
      63796 Kahl am Main<br>
      <br>

      <b>Kontakt<b><br>
      <a href="/kontakt">Kontaktformular</a>
  </div>

</div>
{{> footer}}
<script type="text/javascript">
</script>
</body>

</html>
