<div class="softwareinfo">
  <h1>Software info</h1>
  <section class="feature">
    <h2>Was ist diese Software?</h2>
    <p>Diese Software unterstützt Sie bei der Planung und Verwaltung von Judo-Turnieren – von der Anmeldung bis zur Ergebnisauswertung.</p>
  </section>
  <section class="feature">
    <h2>Funktionen</h2>
    <ul>
      <li>Erstellen kompletter Judo-Turniere (Randori-/Jeder-Gegen-Jeden-Turnier, KO-System)</li>
      <li>Automatische Einteilung in Gewichtsklassen</li>
      <li>Automatische Erstellung der Begegnungen</li>
      <li>Darstellung des Wettkampf-Baums</li>
      <li>Anzeige der Begegnung mit Wertung und Kampfzeit auf separaten Monitoren</li>
      <li>Beliebige Anzahl an Matten</li>
      <li>Eintragen der Wertungen mittels Smartphone (nur Randori-Turniere)</li>
      <li>Abruf der Einteilungen für Gäste mittels QR-Code</li>
      <li>Import eigener Kämpfer</li>
      <li>Import eigener Vereine</li>
      <li>Export der Kämpfer und deren Wertungen</li>
      <li>Verschiedene Benutzer mit unterschiedlichen Rechten</li>
    </ul>
  </section>
  <section class="feature">
    <h2>Hintergrund</h2>
    <p>Die Software wurde als Open-Source Projekt erstellt, ursprünglich für die Durchführung von Randori-Turnieren des 1. Judo-Club Großkrotzenburg.</p>
    <ul>
      <li><a href="https://www.sinnix.de">Entwickler: Florian Miess</a></li>
      <li><a href="https://github.com/hamiller/judoturnier_java">Webseite des Source-Codes: https://github.com/hamiller/judoturnier_java</a></li>
      <li><a href="https://judoclub-grosskrotzenburg.de/">Webseite des 1. Judo-Club Großkrotzenburg: https://judoclub-grosskrotzenburg.de/</a></li>
    </ul>
  </section>

  <md-divider></md-divider>

  <div class="kontakt_frage">
    Interesse am Projekt mitzuarbeiten? Du setzt die Software schon ein und hast einen Feature-Wunsch? <md-filled-button type="button" id="export_wk" href="/kontakt">Kontakt</md-filled-button>
  </div>
</div>
