<!DOCTYPE html>
<html lang="de">
<head>
  {{> header}}
</head>
<body>
  {{> title }}
  {{> nav }}

  <div>
    <div class="bodyheader">
      <h2>Software zur Durchführung von Judo-Turnieren</h2>
    </div>
  </div>
  
  <div>
    <h1>Software des des 1.JC-Großkrotzenburg</h1>
  </div>

  {{> footer}}
  <script type="text/javascript">
  </script>
</body>

</html>