<!DOCTYPE html>
<html lang="de">
<head>
  {{> header}}
</head>
<body>
  {{> title }}
  {{> nav }}

  <div>
    <div class="bodyheader">
      <h2>Turnierübersicht</h2>
      <div>Anzahl der Kämpfer: {{anzahlwk}}</div>
      <div>Turniermodus: {{turniertyp.bezeichnung}}</div>
    </div>
  </div>
  
  <div>
    <h1>Software des des 1.JC-Großkrotzenburg</h1>
  </div>

  {{> footer}}
  <script type="text/javascript">
  </script>
</body>
</html>