<nav class="navbar no-print">
  <ul class="nav-links">
    <li><a href="/turnier">Turnierübersicht</a></li>
    <li><a href="/wettkaempfer">Liste der Wettkämpfer</a></li>
    <li><a href="/gewichtsklassen">Liste der Gewichtsklassen</a></li>
    <li><a href="/turnier/begegnungen">Begegnungen des Wettkampfs</a></li>
    <li><a href="/turnier/einstellungen">Einstellungen</a></li>
  </ul>
</nav>
